@import "tailwindcss";

/* Discord-style Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2B2D31; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1A1B1E; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #111214; 
}

/* Explicit Utility to Hide Scrollbars cleanly */
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    font-weight: 500;
  }

  html {
    font-size: var(--font-size);
  }

  button, a {
    @apply cursor-pointer;
  }
}